@{
    ViewData["Title"] = "Welcome";
}

<h2>Welcome</h2>

<p>This app showcases usage of Azure AD Managed Identities against various services.</p>
<p>Pick one from the navigation bar.</p>
<p>Source code: <a href="https://github.com/juunas11/Joonasw.ManagedIdentityDemos">https://github.com/juunas11/Joonasw.ManagedIdentityDemos</a></p>