@model KeyVaultConfigViewModel
@{
    ViewData["Title"] = "Azure Key Vault configuration";
}

<h2>Azure Key Vault as a configuration provider</h2>

<p>Value from configuration: <strong>@Model.SecretValue</strong></p>

