
@{
    ViewData["Title"] = "Azure Service Bus";
}

<h2>Azure Service Bus</h2>

<form asp-controller="Demo" asp-action="ServiceBusSend" method="post">
    <input type="submit" class="btn btn-primary" value="Send queue message" />
</form>