
@{
    ViewData["Title"] = "Azure Service Bus";
}

<h2>Azure Service Bus</h2>

<p>
    <a asp-controller="Demo" asp-action="ServiceBusListen" target="_blank">Open the listener page (on new tab)</a>
</p>

<form asp-controller="Demo" asp-action="ServiceBusSend" method="post">
    <input type="submit" class="btn btn-primary" value="Send queue message" />
</form>