<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Managed Identity Demos</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Demo" asp-action="Index">Managed Identity Demos</a>
                <button class="navbar-toggler"
                        type="button"
                        data-toggle="collapse"
                        data-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown">
                            <a href="#"
                               class="nav-link dropdown-toggle text-dark"
                               id="config-dropdown"
                               data-toggle="dropdown"
                               role="button"
                               aria-haspopup="true"
                               aria-expanded="false">
                                Configuration
                            </a>
                            <div class="dropdown-menu" aria-labelledby="config-dropdown">
                                <a class="dropdown-item" asp-controller="Demo" asp-action="KeyVaultConfig">Key Vault</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#"
                               class="nav-link dropdown-toggle text-dark"
                               id="db-dropdown"
                               data-toggle="dropdown"
                               role="button"
                               aria-haspopup="true"
                               aria-expanded="false">
                                Database
                            </a>
                            <div class="dropdown-menu" aria-labelledby="db-dropdown">
                                <a class="dropdown-item" asp-controller="Demo" asp-action="SqlDatabase">SQL Database</a>
                                <a class="dropdown-item" asp-controller="Demo" asp-action="CosmosDb">Cosmos DB</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#"
                               class="nav-link dropdown-toggle text-dark"
                               id="file-dropdown"
                               data-toggle="dropdown"
                               role="button"
                               aria-haspopup="true"
                               aria-expanded="false">
                                Files
                            </a>
                            <div class="dropdown-menu" aria-labelledby="file-dropdown">
                                <a class="dropdown-item" asp-controller="Demo" asp-action="Storage">Storage</a>
                                <a class="dropdown-item" asp-controller="Demo" asp-action="DataLake">Data Lake</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#"
                               class="nav-link dropdown-toggle text-dark"
                               id="msg-dropdown"
                               data-toggle="dropdown"
                               role="button"
                               aria-haspopup="true"
                               aria-expanded="false">
                                Messaging
                            </a>
                            <div class="dropdown-menu" aria-labelledby="msg-dropdown">
                                <a class="dropdown-item" asp-controller="Demo" asp-action="ServiceBus">Service Bus Queue Send</a>
                                <a class="dropdown-item" asp-controller="Demo" asp-action="ServiceBusListen">Service Bus Queue Listen</a>
                                <a class="dropdown-item" asp-controller="Demo" asp-action="EventHubs">Event Hub Send</a>
                                <a class="dropdown-item" asp-controller="Demo" asp-action="EventHubsListen">Event Hub Listen</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#"
                               class="nav-link dropdown-toggle text-dark"
                               id="misc-dropdown"
                               data-toggle="dropdown"
                               role="button"
                               aria-haspopup="true"
                               aria-expanded="false">
                                Misc
                            </a>
                            <div class="dropdown-menu" aria-labelledby="misc-dropdown">
                                <a class="dropdown-item" asp-controller="Demo" asp-action="CognitiveServices">Cognitive Services</a>
                                <a class="dropdown-item" asp-controller="Demo" asp-action="CustomService">Custom API</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        @if (TempData.ContainsKey("Message"))
        {
            <div class="alert alert-success">
                @TempData["Message"]
            </div>
        }

        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
